
@{
    ViewBag.Title = "Kurs1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/styles/assets/stylesheet/main.css">  <!--reset all css to default -->
    <link rel="stylesheet" href="~/Content/styles/assets/stylesheet/user.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira:100,300,400,600" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Course</title>
</head>
<body>
    <header class="primary-header container group">
        <h1 class="logo"><a href="/Home/Index">UNIBIT<br>Learning</a></h1>
        <h3 class="tagline">2017&dash;2021; Sofia, BG</h3>
        <nav class="nav primary-nav">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs1">First</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs2">Second</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs3">Third</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs4">Fourth</a></li>
                <!--
                -->
                <li><a href="/User/Registration">Register</a></li>
                <!--
                -->
                <li><a href="/User/Login">Login</a></li>
                <!--
                -->
                <li><a href="/Home/Unibit">UNIBIT</a></li>
            </ul>
        </nav>
    </header>
    <section class="row-alt">
        <div class="lead container">
            <h1>Course One</h1>
            <p>
                We&#8217;re here to present the materials from First Course. Please enjoy.
            </p>
        </div>
    </section>
    <section class="row">
        <div class="grid">
            <section class="discipline" id="basic-programming">
                <!--
                -->
                <div class="col-2-3">
                    <h2>Basic Programming</h2>
                    <h5>C++</h5>
                    <p>
                        C++ is a general-purpose programming language.
                        It has imperative, object-oriented and generic programming features,
                        while also providing facilities for low-level memory manipulation.
                    </p>
                    <h5>About Programming</h5>
                    <p>Many other programming languages have been influenced by C++, including C#, D, Java, and newer versions of C.</p>
                </div>
                <!--
                -->
                <aside class="col-1-3">
                    <div class="discipline-kurs-one">
                        <img src="~/Content/styles/assets/images/firstCourse/cplusplus.jpeg" alt="Basic C++ Programming">
                    </div>
                </aside>
            </section>
            <section class="discipline" id="discrete-mathematics">
                <div class="col-2-3">
                    <h2>Discrete Mathematics</h2>
                    <h5>Study of mathematical structures that are fundamentally discrete rather than continuous</h5>
                    <p>
                        The set of objects studied in discrete mathematics can be finite or infinite.
                        The term finite mathematics is sometimes applied to parts of the field of discrete mathematics
                        that deals with finite sets, particularly those areas relevant to business.
                    </p>
                    <h5>About Mathematics</h5>
                    <p>
                        Although the main objects of study in discrete mathematics are discrete objects,
                        analytic methods from continuous mathematics are often employed as well.
                    </p>
                </div>
                <!--
                -->
                <aside class="col-1-3">
                    <div class="discipline-kurs-one">
                        <img src="~/Content/styles/assets/images/firstCourse/dm.jpeg" alt="Descrete Mathematics">
                    </div>
                </aside>
            </section>
            <section class="discipline" id="algorithm-design">
                <div class="col-2-3">
                    <h2>Design and analysis of Algorithms</h2>
                    <h5>Algorithm Design</h5>
                    <p>
                        Specific method to create a mathematical process in problem solving processes.
                        Applied algorithm design is algorithm engineering.
                    </p>
                    <h5>About Algorithms</h5>
                    <p>
                        Algorithm design is identified and incorporated into many solution theories of operation research,
                        such as dynamic programming and divide-and-conquer.
                        Techniques for designing and implementing algorithm designs are algorithm design patterns,
                        such as template method pattern and decorator pattern,
                        and uses of data structures, and name and sort lists.
                        Some current day uses of algorithm design can be found in internet retrieval processes of web crawling,
                        packet routing and caching.
                    </p>
                </div>
                <!--
                -->
                <aside class="col-1-3">
                    <div class="discipline-kurs-one">
                        <img src="~/Content/styles/assets/images/firstCourse/algorithms.jpeg" alt="Design And Analysis of Algorithms">
                    </div>
                </aside>
            </section>
            <section class="discipline" id="linear-algebra">
                <div class="col-2-3">
                    <h2>Linear Algebra and Analytic geometry</h2>
                    <h5>Linear Algebra</h5>
                    <p>
                        Linear algebra is the branch of mathematics concerning vector spaces and linear mappings between such spaces.
                        It includes the study of lines,
                        planes, and subspaces, but is also concerned with properties common to all vector spaces.
                    </p>
                    <h5>Analytic Geometry</h5>
                    <p>
                        In classical mathematics, analytic geometry, also known as coordinate geometry, or Cartesian geometry,
                        is the study of geometry using a coordinate system. This contrasts with synthetic geometry.
                    </p>
                </div>
                <!--
                -->
                <aside class="col-1-3">
                    <div class="discipline-kurs-one">
                        <img src="~/Content/styles/assets/images/firstCourse/algebra.jpeg" alt="Linear Algebra and Analytic Geometry">
                    </div>
                </aside>
            </section>
            <section class="discipline" id="computers-architecture">
                <div class="col-2-3">
                    <h2>Computers Architecture</h2>
                    <h5>Microarchitecture</h5>
                    <p>
                        describes how a particular processor will implement the ISA.
                        The size of a computer's CPU cache for instance,
                        is an issue that generally has nothing to do with the ISA.
                    </p>
                    <h5>System Design</h5>
                    <p>Includes all of the other hardware components within a computing system.</p>
                </div>
                <!--
                -->
                <aside class="col-1-3">
                    <div class="discipline-kurs-one">
                        <img src="~/Content/styles/assets/images/firstCourse/ka.png" alt="Computers Architecture">
                    </div>
                </aside>
            </section>
            <section id="basic-web-programming">
                <div class="col-2-3">
                    <h2>Basic Web Programming</h2>
                    <h5>Learning Web Programming</h5>
                    <p>
                        Web development is a broad term for the work involved in developing a web site for the
                        Internet (World Wide Web) or an intranet (a private network).
                        Web development can range from developing the simplest static single page of plain text to the most complex web-based internet applications
                        (or just 'web apps') electronic businesses, and social network services.
                    </p>
                    <h5>About Web Industry</h5>
                    <p>
                        Since the commercialization of the web, web development has been a growing industry.
                        The growth of this industry is being driven by businesses wishing to use their
                        website to sell products and services to customers.
                    </p>
                </div>
                <!--
                -->
                <aside class="col-1-3">
                    <div class="discipline-kurs-one">
                        <img src="~/Content/styles/assets/images/firstCourse/web.png" alt="Basic Web Programming">
                    </div>
                </aside>
            </section>
        </div>
    </section>
    <footer class="primary-footer container group">
        <small>&copy; Georgi Slavov</small>
        <nav class="nav">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs1">First</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs2">Second</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs3">Third</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs4">Fourth</a></li>
                <!--
                -->
                <li><a href="/User/Registration">Register</a></li>
                <!--
                -->
                <li><a href="/User/Login">Login</a></li>
                <!--
                -->
                <li><a href="/Home/Unibit">UNIBIT</a> </li>
            </ul>
        </nav>
    </footer>
    <script src="~/Content/javascript/clock.js"></script>
</body>
</html>
