
@{
    ViewBag.Title = "Kurs3";
}

<h2>Kurs3</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/styles/assets/stylesheet/main.css">  <!--reset all css to default -->
    <link rel="stylesheet" href="~/Content/styles/assets/stylesheet/user.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira:100,300,400,600" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Three</title>
</head>
<body>
    <header class="primary-header container group">
        <h1 class="logo"><a href="/Home/Index">UNIBIT<br>Learning</a></h1>
        <h3 class="tagline">2017&dash;2021; Sofia, BG</h3>
        <nav class="nav primary-nav">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs1">First</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs2">Second</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs3">Third</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs4">Fourth</a></li>
                <!--
                -->
                <li><a href="/User/Registration">Register</a></li>
                <!--
                -->
                <li><a href="/User/Login">Login</a></li>
                <!--
                -->
                <li><a href="/Home/Unibit">UNIBIT</a></li>
            </ul>
        </nav>
    </header>
    <section class="row-alt">
        <div class="lead container">
            <h1>Course Three</h1>
            <p>Under Construction</p>
        </div>
    </section>
    <footer class="primary-footer container group">
        <small>&copy; Georgi Slavov</small>
        <nav class="nav">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs1">First</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs2">Second</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs3">Third</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs4">Fourth</a></li>
                <!--
                -->
                <li><a href="/User/Registration">Register</a></li>
                <!--
                -->
                <li><a href="/User/Login">Login</a></li>
                <!--
                -->
                <li><a href="/Home/Unibit">UNIBIT</a> </li>
            </ul>
        </nav>
    </footer>
    <script src="~/Content/javascript/clock.js"></script>
</body>
</html>
