
@{
    ViewBag.Title = "Unibit";
}

<h2>Unibit</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/styles/assets/stylesheet/main.css">  <!--reset all css to default -->
    <link rel="stylesheet" href="~/Content/styles/assets/stylesheet/user.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira:100,300,400,600" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIBIT information</title>
</head>
<body>
    <header class="primary-header container group">
        <h1 class="logo"><a href="/Home/Index">UNIBIT<br>Learning</a></h1>
        <h3 class="tagline">2017&dash;2021; Sofia, BG</h3>
        <nav class="nav primary-nav">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs1">First</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs2">Second</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs3">Third</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs4">Fourth</a></li>
                <!--
                -->
                <li><a href="/User/Registration">Register</a></li>
                <!--
                -->
                <li><a href="/User/Login">Login</a></li>
                <!--
                -->
                <li><a href="/Home/Unibit">UNIBIT</a></li>
            </ul>
        </nav>
    </header>
    <section class="row-alt">
        <div class="lead container">
            <h1>UNIBIT</h1>
            <p>Under Construction</p>
        </div>
    </section>
    <section class="row">
        <div class="grid">
            <section class="carigradsko">
                <div class="col-1-3">
                    <h2>Цариградско Шосе</h2>
                    <p>бул. “Цариградско шосе” № 119<br>гр. София, п.к. 1784</p>
                </div>
                <!--
                -->
                <iframe class="unibit-map col-2-3" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%E2%80%9C%D0%A6%D0%B0%D1%80%D0%B8%D0%B3%D1%80%D0%B0%D0%B4%D1%81%D0%BA%D0%BE%20%D1%88%D0%BE%D1%81%D0%B5%E2%80%9D%20%E2%84%96%20119&key=AIzaSyBzS1Fx4LpxJQS9C7YYTVgrQ_DZ29kgT_4" allowfullscreen></iframe>
            </section>
        </div>
    </section>
    <section class="row">
        <div class="grid">
            <section class="shipchenski">
                <div class="col-1-3">
                    <h2>Шипченски проход</h2>
                    <p>бул. Шипченски проход №69А<br>гр. София, п.к. 1574</p>
                </div>
                <!--
                -->
                <iframe class="unibit-map col-2-3" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%D0%A8%D0%B8%D0%BF%D1%87%D0%B5%D0%BD%D1%81%D0%BA%D0%B8%20%D0%BF%D1%80%D0%BE%D1%85%D0%BE%D0%B4%20%E2%84%9669%D0%90&key=AIzaSyDqfefxOZatqY74QIgtVeVyr6RmwGMsJg4" allowfullscreen></iframe>
            </section>
        </div>
    </section>
    <section class="row">
        <div class="grid">
            <section class="official-site">
                <div class="col-1-3">
                    <p>
                        <a href="https://www.unibit.bg/">
                            <h2>Official UNIBIT Site</h2>
                        </a>
                    </p>
                </div>
                <!--
                -->
                <iframe class="unibit-map col-2-3" src="https://www.unibit.bg/"></iframe>
            </section>
        </div>
    </section>
    <footer class="primary-footer container group">
        <small>&copy; Georgi Slavov</small>
        <nav class="nav">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs1">First</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs2">Second</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs3">Third</a></li>
                <!--
                -->
                <li><a href="/Home/Kurs4">Fourth</a></li>
                <!--
                -->
                <li><a href="/User/Registration">Register</a></li>
                <!--
                -->
                <li><a href="/User/Login">Login</a></li>
                <!--
                -->
                <li><a href="/Home/Unibit">UNIBIT</a> </li>
            </ul>
        </nav>
    </footer>
    <script src="~/Content/javascript/clock.js"></script>
</body>
</html>
